html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #F8F9FA;
    
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #FFF;
    display: flex;
    margin: 0 auto;
    padding: 2em 3em;
    width: 70%;
}

main:has(button.move) {
    flex-direction: row-reverse;
}

button {
    cursor: pointer;
    font-weight: bold;
    padding: 1em;
}
